body {
    font-family: serif;
    font-size: 16px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f16e0052)) fixed;
    color:  #4d4d4d;

}

.form-check-input:checked {
    background-color: #f16e00;
    border-color: #ff811a;

}

.form-control:focus {
    border-color: #ffab66;
    box-shadow: 0 0 0 0.2rem rgb(255, 199, 153);
    }


.dz {
    background-color: transparent;
    border: none !important;
    border-radius: 350px !important;
    margin: 5% auto auto auto;
    width: 60%;
    background-image: url('/static/images/upload_img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 431px;
    height: 663px;
}

.dz-message {
    margin: auto !important;
    color: #f16e00;
}


 .dz-button {
    font-size: 32px !important;
    margin: 4% auto auto auto !important;
    font-family: cursive !important;
    font-weight: bold;
 }

.dz-image {
    background: linear-gradient(to top, #f2f2f23b, #f1742bad) !important;
}

.dz-size span {
    background-color: none !important;
}

.dz-progress {

    border: 3px solid rgb(255 255 255 / 0%) !important;
    background: rgb(255 255 255 / 0%) !important;
}

.dz-remove {


}

tr.active {
   background:#dee2e6;
}

table {
    border-collapse: separate;
    border-spacing: 0px 10px;
}

.container{
    background-clip: content-box;
}

.formElement {
   background-color: #ffffff;
   border-bottom: 5px solid #f2f2f2;
}

.btn-primary {
    background-color: #f16e00;
    border-color: #ff811a;
}

.m1 {
    margin-bottom: 10px !important;
}

.btn-primary:hover {
    background-color:  #ff811a;
    border-color:  #f16e00;
    transition: background-color 0.5s ease-out;
}

.btn-primary:focus {
    background-color:  #ff811a;
    border-color: #f16e00;
}

.btn-primary.disabled {
    background-color: #f16e00;
    border-color: #f16e00;
}

.btn:focus, .btn:active {
  border-color: #ffab66;
  box-shadow: 0 0 0 0.2rem rgb(255, 199, 153);
}

.form-check-input:focus {
    border-color: #ffab66;
    box-shadow: 0 0 0 0.2rem rgb(255, 199, 153);
}

.form-select:focus {
    border-color: #ffab66;
    box-shadow: 0 0 0 0.2rem rgb(255, 199, 153);
}




.liElement {
   margin-top: 10px;
   border: 5px solid transparent;
}

.mb-0 {
    margin-top: 0.5rem;
}

.thead-dark{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    color: white;
}

.center {
 padding: 100px 50px 100px 50px;
 text-align: center;
 margin: 50px 300px 0 300px;
 border: 5px solid black;
 border-radius: 1.2em;
}

.login {
  position: relative;
  float: right;
  margin-left: 45em;
  margin-right: 0;
}


.badge-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}

.badge-primary {
  color: #fff;
  background-color: #007bff;
}





