body {
    background: linear-gradient(0deg, rgba(112, 124, 167, 0.27), rgba(112, 124, 167, 0.27)), radial-gradient(88.94% 265.84% at 9.64% 11.06%, #707CA7 0%, rgba(112, 124, 167, 0.72) 18.86%, #212533 92.62%)
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Lora', serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Vollkorn', serif;
    color: #ffffffd1;
}

h1 {
    background-color: #4D75C16E;
    border-end-end-radius: 20px;
    border-end-start-radius: 21px;
    text-align: center;
}


/* MESSAGES */
.alert-success {
  color: #000000b3;
  background-color: #1fec5c8c;
  border-color: #0b0b0b91;
  box-shadow: rgba(0, 0, 0, 0.51) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  text-align: center;

}

.alert-danger {
  color: #ffffffd1;
  background-color: #bb2121b5;
  border-color: #000;
  box-shadow: rgba(0, 0, 0, 0.51) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  text-align: center;
}

/* ICONS */
.icon {
    width: 24px;
    height: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.header-icon {
    width: 55px;
    height: 55x;
    margin-top: 5px;
}
/* ADD/EDIT VIEW */
.form-control {
    background-color: #2D2D2DED;
    color: #dbdbdb;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.51) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.form-control:focus {
    background-color: #2D2D2DED;
    border-color: white;
}
/* CHECKBOXES */

.form-check-input:checked {
    background-color: #76A5FF;
    border-color: #76A5FF;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.form-check-input:focus {
  border-color: #76A5FF;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(118, 165, 255, 0.16);
}
/* TABLE */

.tableElementThead {
    background: #2D2D2DED;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.tableElement {
    background: #2D2D2DED;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.tableElement:hover {
    background: #0958F021;
    color: #ffffffd1;
    transition: 1s;
}

tr.active {
    background: #0958F021;
    color: #000000b3;

}


.table {
    border-collapse: separate;
    border-spacing: 0px 10px;
    border-bottom-width: 0px;
    margin: auto;
    width: 80%;
    color: #ffffffd1;
}


th {
    border-style: none;
}

td {
    border-style: none;
}

.form-select {
    background-color: #2D2D2DED;
    color: #ffffffd1;
    border: none;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);

}

/* delete view */
.list-group-item {
    background-color: #2D2D2DED;
    margin-bottom: 5px;
    color: #ffffffd1;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.badge-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}

.badge-primary {
  background-color: #486293;
}
/* buttons */

.btn-primary:hover {
    background-color: #486293;
}

.btn-primary {
    background-color: #5370a6;
}

.btn-primary.disabled {
    background-color: #5370a6;
}

.btn {
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* NAV */
nav {
    width: 300px;
    background: white;
    color: rgba(0, 0, 0, 0.87);
    -webkit-clip-path: circle(24px at 30px 24px);
    clip-path: circle(24px at 32px 24px);
    -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
    transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  }

nav:hover {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s;
    -webkit-clip-path: circle(390px at 225px 24px);
    clip-path: circle(390px at 150px 24px);
  }

a {
    display: block;
    line-height: 50px;
    padding: 0 20px;
    color: inherit;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

a:hover { background: #ffe082; }

a:active { background: #ffca28; }

.navicon {
    padding: 23px 20px;
    cursor: pointer;
    -webkit-transform-origin: 32px 24px;
    -ms-transform-origin: 32px 24px;
    transform-origin: 32px 24px;
  }

.navicon div {
    position: relative;
    width: 20px;
    height: 2px;
    background: rgba(0, 0, 0, 0.87);
  }

.navicon div:before,
.navicon div:after {
    display: block;
    content: "";
    width: 20px;
    height: 2px;
    background: rgba(0, 0, 0, 0.87);
    position: absolute;
  }

.navicon div:before { top: -7px; }

.navicon div:after { top: 7px; }

/* NAV FILTER */