{% extends 'base.html' %}
{% load static %}

{% block title %}Delete{% endblock %}

{% load crispy_forms_tags %}
{%block content %}
<h1><img class="header-icon" src="{% static 'images/deleteHeader.png' %}">Delete</h1>
<h2>Czy chcesz usunąć?</h2>
<form method="POST">
    {% csrf_token %}
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center liElement {">
            {{object}}
        </li>
    </ul>
    {{form}}
    <button class="btn btn-primary col-12" type="submit">Usuń</button>
    <a class='btn btn-danger col-12' href="{% url 'myauth:profile' %}">Wróć</a>
</form>

{% endblock %}