{% extends 'base.html' %}
{% load static %}

{% block title %} Delete {% endblock %}





{% block content %}
<h1><img class="header-icon" src="{% static 'images/deleteHeader.png' %}">Czy chcesz usunąć ?</h1>

<form method="POST">
    {% csrf_token %}
    <ul class="list-group">
        {% for object in objects %}
            <li class="list-group-item d-flex justify-content-between align-items-center liElement {">
                <div class="margin-name">
                    <p class="deleteTitle">Produkt:</p> {{ object.name }}
                </div>
                <div class="margin-ean">
                    <p class="deleteTitle">EAN:</p>{{ object.EAN }}
                </div>
                <div>
                    <span class="badge badge-primary badge-pill">{{ object.quantity }}</span>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="mb-0">
        <button type="submit" class="btn btn-primary col-12 m1" name="confirm">Confirm Delete</button>
        <a class="btn btn-danger col-12 m1" href="{% url 'myapp:table' %}">Wróć</a>
    </div>
</form>
{% endblock %}