{% extends 'base.html' %}

{% block title %} Delete {% endblock %}

{% block content %}
<h1>Czy chcesz usunąć ?</h1>
<form method="POST">
    {% csrf_token %}
    <ul class="list-group">
        {% for object in objects %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Produkt: {{ object.name }}
                EAN: {{ object.EAN }}
                <span class="badge badge-primary badge-pill">{{ object.quantity }}</span>
            </li>

        {% endfor %}
    </ul>
    <button type="submit" class="btn btn-danger" name="confirm">Confirm Delete</button>
    <a class="btn btn-primary" href="{% url 'myapp:table' %}">Wróć</a>
</form>
{% endblock %}