{% extends 'base.html' %}

{% block title %} Create {% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<form method="POST">
    <div class="mb-0">
        <h1>Dodaj Obiekt</h1>
    </div>
    {% csrf_token %}
    <div>
        {{form|crispy}}
        <div class="mb-0">
            <button type="submit" class="btn btn-primary col-12 m1">Zapisz</button>
            <a class="btn btn-danger col-12 m1" href="{% url 'myapp:table' %}">Wróć</a>
        </div>
    </div>
</form>
{% endblock %}