{% extends 'base.html' %}
{% load static %}

{% block title %}Table{% endblock %}
{% block script %}
<script src="{% static 'js/checkbox.js' %}"></script>
<script src="{% static 'js/successful_download_redirect.js' %}"></script>
<script src="{% static 'js/sort_table.js' %}"></script>
{% endblock %}

{% block content %}
    <form method="GET">
        <div class="mb-0">
            <div class="form-check form-check-inline form-switch">
                <input class="form-check-input" id="radio-lack" type="checkbox" role="switch" name="check1" value="lack">
                <label class="form-check-label" for="radio-lack">Braki</label>
            </div>
            <div class="form-check form-check-inline form-switch">
                <input class="form-check-input" id="radio-surplus" type="checkbox" role="switch" name="check2" value="surplus">
                <label class="form-check-label" for="radio-surplus">Nadwyżki</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="submit" value="Check" class="btn btn-info">
            </div>
        </div>
    </form>
    <form action="{% url 'myapp:list' %}" method="GET">
        <div class="mb-1">
            <input class="btn btn-danger" type="submit" value="Delete" >
            <a class="btn btn-primary" id="link-with-redirect" href="{% url 'myapp:download' %}">Download</a>
        </div>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        <input class="form-check-input" type="checkbox" onClick="toggle(this)" />  NAZWA<br/>
                    </th>
                    <th>EAN</th>
                    <th>
                        ILOŚĆ
                        <a class="nav-item" href="{% url 'myapp:sortu' %}">Up</a>
                        <a class="nav-item" href="{% url 'myapp:sortd' %}">Down</a>
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for value in values %}
                <tr>
                    <td>
                        <input class="form-check-input" type="checkbox" name="delete" value="{{value.id}}">  {{ value.Nazwa }}
                    </td>
                    <td>{{ value.EAN }}</td>
                    <td>
                        {{ value.Ilosc }}
                        <ul class="nav">
                            <li><a class="nav-item" href="/inw/update/{{value.id}}">Edit</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}