{% extends 'base.html' %}

{% block title %} Upload {% endblock %}

{% load static %}
{% block script %}
    <!-- Dropzone JS/CSS -->
    <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
    <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block nav %}
<h1>Upload</h1>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'myapp:upload' %}" class="dropzone" id="my-awesome-dropzone">
    {% csrf_token %}
    <div class="fallback">
        <input type="file" value="file" multiple/>
    </div>
    <button type="submit" id="button" class="invisible">Submit</button>
    <script src="{% static 'js/dropzone_settings.js' %}"></script>
</form>
<label for="button" class="btn btn-primary col-12" tabindex="0">Submit</label>


{% endblock %}