{% extends "base.html" %}
{% load static %}

{% block title %}Ustal nowe hasło{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<h1><img class="header-icon" src="{% static 'images/password_icon.png' %}">Zmiana Hasła</h1>
{% if validlink %}

<h2>Ustal nowe hasło!</h2>
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <ul>
        <li class="help-text">Twoje hasło nie może być zbyt podobne do innych Twoich danych osobowych.</li>
        <li class="help-text">Twoje hasło musi zawierać co najmniej 8 znaków.</li>
        <li class="help-text">Twoje hasło nie może być powszechnie używanym hasłem.</li>
        <li class="help-text">Twoje hasło nie może być całkowicie numeryczne.</li>
    </ul>
    <button class="btn btn-primary col-12">Wyślij</button>
</form>

{% else %}

<h2>Link do resetowania hasła był nieprawidłowy, prawdopodobnie dlatego, że został już użyty. Poproś o zresetowanie
    nowego hasła.</h2>
<a class="btn btn-primary col-12" href="{% url 'myauth:login' %}">Wróć</a>

{% endif %}
{% endblock %}