{% extends 'base.html' %}
{% load static %}

{% block title %}Password Change{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<h1><img class="header-icon" src="{% static 'images/password_icon.png' %}">Zmiana Hasła</h1>

<h2>Wysłano prośbę o restart Hasła</h2>
<p>Niedługo na maila którego podałeś w celu przypomnienia hasła,</p>
<p>Zostanie wysłana wiadomość zlinkiem aktywacyjnym,</p>
<p>Kliknij link aktywacyjny i ustal nowe hasło, </p>
<p>W razie problemów przeczytaj dokładnie maila!</p>
<a class="btn btn-primary col-12" href="{% url 'home' %}">Dalej</a>
{% endblock %}