{% extends 'base.html' %}
{% load static %}

{% block title %}Password Change{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<h1><img class="header-icon" src="{% static 'images/password_icon.png' %}">Zmiana hasła</h1>
<h2>Zmień Hasło</h2>

<form method="POST">
  {% csrf_token %}
  {{ form|crispy }}
  <button class='btn btn-primary col-12' type="submit" >Reset</button>
  <a class='btn btn-danger col-12' href="{% url 'myauth:profile' %}">Wróć</a>
</form>
<a class="link" href="{% url 'myauth:password_reset' %}">Zapomniałeś hasła?</a>
{% endblock %}